
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

Zarządzanie Użytkownikiem <button>Dodaj</button>
<button>Usuń</button>
<button>Resetuj Hasło</button>
<br />

Zarządzanie Wydarzeniami<button>Dodaj</button>
<button>Usuń</button>
<button>Modyfikuj</button>
<br />
Obsługa zapisów na wydarzenie<button>Potwierdź zapis</button>
<button>Odrzuć zapis</button>

<br />


