@{
    ViewData["Title"] = "Rejestracja";
}

@page
@model RegisterUserLab.Models.User

<div class="text-center">
    <h1 class="display-4">Zarejestruj się</h1>
    <div class="border container" style="padding:30px;">
        <form method="post">
            <div class="col-4">
                <label asp-for="Name" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Login" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Login" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Login" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Login" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Login" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Login" />
            </div>
            <div class="col-6">
                <input asp-for="Login" class="form-control" />
            </div>

        </form>
    </div>
</div>
