
@{
    ViewData["Title"] = "UserView";
}

<h1>Przykładowe Wydarzenie 1</h1>
<div class="form-group">
    <div class="form-group">

        <div class="col-4">
            Termin Wydarzenia
        </div>
        <div class="col-6">
            2020-05-14

        </div>

    </div>
    <div class="col-4">
        Typ Uczesnictwa:
    </div>
    <div class="col-6">
        <select class="form-control" id="male">
            <option>Słuchacz</option>
            <option>Autor</option>
            <option>Sponsor</option>
            <option>Organizator</option>

        </select>

    </div>  <div class="col-4">
         Wyżywienie:
    </div>
    <div class="col-6">
        <select class="form-control">
            <option>Bez preferencji</option>
            <option>Wege</option>
            <option>Bez glutenu</option>
           

        </select>

    </div>





    
</div>

<input type="submit" value="Zapisz się" class="btn btn-primary form-control" />




